%h2=link_to 'Builds List', builds_path, :class => :link, :id => :all_builds_link
%table#builds
  %thead
    %tr
      - Build.attrs.each do |attr|
        -unless attr.empty?
          - if @sort_by== attr
            - if @sorted_by_user
              %th.hilite= attr
            - else
              %th= attr
          - else
            %th= eval("link_to attr.to_s.titleize, builds_path(:sort_by => attr), :method => :get, :class => :link, :id => :#{attr.to_s}_header")
  %tbody
    - @builds.each do |build|
      %tr
        - Build.attrs.each do |attr|
          - unless attr.empty?
            - if attr== 'description'
              %td= link_to "More about #{build.name}", build_path(build), :class => :more_info_link
            - else
              %td= eval("build.#{attr}")
= link_to 'Create new build', new_build_path, :method => :get, :class => :link, :id => :new_build_link
%br
= link_to 'Reset filter and sort settings', builds_path(:session_type => :new), :method => :get, :class => :link, :id => :reset_session
